@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    min-height: 100%;
    background: white;
}

.wallet-adapter-button-trigger {
    border-radius: 8px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
    font-family: inherit !important;
}

input, textarea {
    background-color: transparent;
}